!!! XML
%feed{xmlns:"http://www.w3.org/2005/Atom"}
  %title #FridayHug - Share your hug!
  %link{href: "http://fridayhug.com/"}
  %link{href: "http://fridayhug.com/atom.xml", rel: "self"}
  %subtitle{type: "html"} Every friday we share hugs on Twitter with the hashtag #FridayHug and make the day a little bit better.
  %updated= Time.now.xmlschema
  %id http://fridayhug.com
  - @hugs.each do |hug|
    %entry
      %title= "Hug from @#{hug.username}"
      %published= hug.published_at.xmlschema
      %updated= hug.updated_at.xmlschema
      %link{href: "https://twitter.com/#!/#{hug.username}/status/#{hug.tweet_id}"}
      %id= "https://twitter.com/#!/#{hug.username}/status/#{hug.tweet_id}"
      %author
        %name FridayHug.com
      %content{type: "xhtml", 'xml:lang' => "en", 'xml:base' => "http://diveintomark.org/"}
        %div{xmlns: "http://www.w3.org/1999/xhtml"}
          %img{src: hug.media_url}
          %blockquote
            %p
              = "#{hug.tweet_text}"
              %small
                %a{href: "https://twitter.com/#!/#{hug.username}"}= "@#{hug.username}"
                = "at #{hug.published_at.strftime('%b, %d %Y')}"
                %a{href: "https://twitter.com/#!/#{hug.username}/status/#{hug.tweet_id}"} link
