%sub-header.home
  .hero-unit
    %h1
      - if Time.now.friday?
        Hey, it's Hug Friday!
      - else
        It's not Friday yet. :(
      %a{href: '/about', class: 'btn btn-primary btn-large'} Learn more
    .bird
      %h2
        Share your hug with the hashtag
        %a{href: 'https://twitter.com'} #FridayHug
        %small (or #HugFriday)
  .row
    .span8
      %form{class: 'form-inline', action: '/share-hug', method: 'POST'}
        %label Can't find your hug? Share it with us:
        %input.span4{type: 'text', placeholder: 'https://twitter.com/#!/HugFriday/status/175433835499110400', name: 'tweet'}
        %a{id: 'submit-hug', href: '#', rel: "tooltip", title: "URL for the Tweet with an image. We support yfrog, instagram, twitpic, img.ly and twitter native photos."}
          %i.icon-question-sign
        %button{type: 'submit', class: 'btn'} Send
    .span4 
      %p.hugs-count
        %span.label.label-info
          =@tweets.count
          hugs so far.
%ul.thumbnails
  - @tweets.each do |t|
    %li.span3
      .thumbnail
        - img_link = t.twitpic? ? "/hugs/#{t.id}" : "##{t.id}"
        %a{href: "#{img_link}", rel: "facebox"}
          %div{id: t.id, class: 'my-thumb'}
            %img{src: t.media_url}
        %blockquote
          %p
            = "#{t.tweet_text}"
            %small
              %a{href: "https://twitter.com/#!/#{t.username}"}= "@#{t.username}"
              = "at #{t.published_at.strftime('%b, %d %Y')}"
              %a{href: "https://twitter.com/#!/#{t.username}/status/#{t.tweet_id}"} link
              - if authorized?
                %a{href: "/hide/#{t.id}"} hide
                %a{href: "/remove/#{t.id}"} remove
.pagination
  %ul
    - @num_pages.times do |page|
      %li{class: "#{'active' if page+1 == params[:page].to_i}"}
        %a{href: "/?page=#{page+1}"}= page+1
