%header
  .hero-unit
    %h1
      Hey, it's Hug Friday!
      %a{href: '/about', class: 'btn btn-primary btn-large'} Learn more
    .bird
      %h2
        Share your hug with the hashtag
        %a{href: 'https://twitter.com'} #HugFriday
%ul.thumbnails
  - @tweets.each do |t|
    %li.span3
      .thumbnail
        %a{href: "##{t.id}", rel: "facebox"}
          %div{id: t.id}
            %img{src: t.media_url}
        %blockquote
          %p
            = "#{t.tweet_text}"
            %small
              %a{href: "https://twitter.com/#!/#{t.username}"}= "@#{t.username}"
              = "at #{t.published_at.strftime('%b, %d %Y')}"
              %a{href: "https://twitter.com/#!/#{t.username}/status/#{t.tweet_id}"} link
              - if authorized?
                %a{href: "/hide/#{t.id}"} hide
                %a{href: "/remove/#{t.id}"} remove
.pagination
  %ul
    - @num_pages.times do |page|
      %li{class: "#{'active' if page+1 == params[:page].to_i}"}
        %a{href: "/?page=#{page+1}"}= page+1
