!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title #FridayHug - Share your hug!
    %link{href: '/atom.xml', rel: "alternate", type: "application/atom+xml", title: "FridayHug.com Atom Feed"}
    %link{href: 'stylesheets/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/bootstrap-responsive.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/base.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/facebox.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type: "text/javascript"}
    %script{src: "javascripts/bootstrap-tooltip.js", type: "text/javascript"}
    %script{src: "javascripts/bootstrap-alert.js", type: "text/javascript"}
    %script{src: "javascripts/facebox.js", type: "text/javascript"}
    %script{src: "javascripts/base.js", type: "text/javascript"}
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24228971-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container
      %header
        .row
          .span10
            %h1
              %a{href: '/'} FridayHug.com
          .span2.feed
            %a{href: 'https://twitter.com/#!/FridayHug'}
              %img{src: '/images/twitter_icon_grey.png'}
            %a{href: '/atom.xml'}
              %img{src: '/images/feed_icon_grey.png'}
      - if flash[:alert]
        .alert.alert-error
          %a{class: "close", 'data-dismiss' => "alert"}×
          = flash[:alert]
      - if flash[:info]
        .alert.alert-info
          %a{class: "close", 'data-dismiss' => "alert"}×
          = flash[:info]
      - if flash[:success]
        .alert.alert-success
          %a{class: "close", 'data-dismiss' => "alert"}×
          = flash[:success]
      = yield
      %hr
      %footer
        %p
          %em
            %a{href: "/"} FridayHug.com
            is brought to you by
            = succeed '.' do
              %a{href: "http://commita.com"}< Commita
            Also proudly hosted by
            = succeed ',' do
              %a{href: "https://dnsimple.com"}< DNSimple
            %a{href: "http://heroku.com"} Heroku
            and
            = succeed '.' do
              %a{href: "http://mongolab.com"}< MongoLab
